# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Atom Entanglement'
      'submenu': [
        {
          'label': 'Toggle status'
          'command': 'atom-entanglement:toggle status'
        }
      ]
    ]
  }
]
